#home-jumbo {
  background-color: rgba(0, 0, 0, 0.214);
  backdrop-filter: blur(60px);
  text-align: center;
}

/* BACKGROUND */
#home-body {
  background: url('./assets/background/colorBg4.jpg');
  background-size: cover;
  min-height: 1080px;
  min-width: 100%;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

#card {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 500px;
  background-color: rgba(48, 48, 48, 0.74);
  color: rgb(238, 238, 238);
  backdrop-filter: 'blur(60px)';
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#icon {
  width: 100%;
  height: auto;
}

/* DETAILS BUTTONS */
#detail-btn {
  font-size: smaller;
  color: white;
  border-width: 1.5px;
  border-style: outset;
  border-color: rgb(118, 118, 118);
}
.detail-btn:hover {
  color: white;
  background-color: rgba(0, 140, 255, 0.842);
  text-decoration: none;
}

.detail-btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

.detail-btn:visited {
  text-decoration: none;
}
.detail-btn:link {
  text-decoration: none;
}

.detail-btn:current {
  text-decoration: none;
}

.detail-btn:active {
  text-decoration: none;
}
