.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.214);
    backdrop-filter: blur(60px);
}

/* BACKGROUND */
#home-body{
    background-image: url('./assets/background/colorBg3.jpg');
    background-size: cover !important;
    background-repeat:no-repeat;
}

/* ICONS */
#icon {
    height: 250px;
    width: 250px;
}

@media screen and (max-width: 441px){
    #icon{
        height: 125px;
        width: 125px;
        align-content: center;
        display:inline-table;
    }
    .card{
        width: 125px;
    }
    .icon-transparent {
        height: 125px;
        width: 125px;
        background-color: transparent !important;
        border-color: transparent !important;
        outline-color: transparent !important;
    }
}
@media screen and (max-width: 341px){
    #icon{
        height: 175px;
        width: 175px;
    }
    .card{
        width: 175px;
    }
    .icon-transparent {
        height: 175px;
        width: 175px;
        background-color: transparent !important;
        border-color: transparent !important;
        outline-color: transparent !important;
    }
}

/* CARDS */
.card {
    background-color: rgba(48, 48, 48, 0.74);
    color: rgb(238, 238, 238);
    backdrop-filter: 'blur(60px)';
    justify-content: 'center';
    align-items: center;
    margin-bottom: 10px;
    width: 250px;
} 
/* .card-title {
    text-align: center;
    text-decoration: underline rgb(92, 92, 92);
}
@media screen and (max-width: 767px){
    .card-title {
        text-align: center;
        text-decoration: underline rgb(67, 67, 255);
        font-size: medium;
    }
}
@media screen and (max-width: 391px){
    .card-title {
        text-align: center;
        text-decoration: underline rgb(67, 67, 255);
        font-size: small;
    }
}

*/

/* @media screen and (max-width: 391px){
    .card-text {
        background-color: rgba(48, 48, 48, 0.74);
        color: rgb(238, 238, 238);
        backdrop-filter: 'blur(60px)';
        justify-content: 'center';
        align-items: center;
        margin-bottom: 10px;
        font-size: xx-small;
        width: 250px;
    }
} */

/* DETAILS BUTTONS */
.detail-btn {
    color: white;
    border-width: 2px;
    border-style: outset;
    border-color: rgb(118, 118, 118);
}
.detail-btn:hover{
    color: white;
    background-color: rgba(0, 140, 255, 0.842);
    text-decoration: none;
}

.detail-btn:focus{
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.detail-btn:visited {
    text-decoration: none;
}
.detail-btn:link {
    text-decoration: none;
}



.detail-btn:current {
    text-decoration: none;
}

.detail-btn:active {
    text-decoration: none;
} 

/* GITHUB REPO LINKS */
#github {
    text-shadow: -2px 2px 8px white;
    color: rgb(0, 4, 216);
}
#github {
    text-shadow: 2px -2px 8px white;
    color: rgb(0, 4, 216);
}

#github:hover {
    color: rgb(24, 24, 24);
    text-decoration: underline;
}













/* @media screen and (max-width: 767px){
    .card-subtitle {
        font-size: small;
    }
}
@media screen and (max-width: 391px){
    .card-subtitle {
        font-size: smaller;
    }
} */





/* 
@media screen and (max-width: 767px){
    .card {
        background-color: rgba(48, 48, 48, 0.74);
        color: rgb(238, 238, 238);
        backdrop-filter: 'blur(60px)';
        justify-content: 'center';
        align-items: center;
        margin-bottom: 10px;
        font-size: small;
        width: 150px;
    }
}
@media screen and (max-width: 391px){
    .card {
        background-color: rgba(48, 48, 48, 0.74);
        color: rgb(238, 238, 238);
        backdrop-filter: 'blur(60px)';
        justify-content: 'center';
        align-items: center;
        margin-bottom: 10px;
        font-size: xx-small;
        width: 75px;
    }
}
@media screen and (min-width: 812px) and (min-height: 375px){
    .card {
        background-color: rgba(48, 48, 48, 0.74);
        color: rgb(238, 238, 238);
        backdrop-filter: 'blur(60px)';
        justify-content: 'center';
        align-items: center;
        margin-bottom: 10px;
        font-size: small;
        width: 250px;
    }

    @media screen and (max-width: 767px){
        .card-text {
            background-color: rgba(48, 48, 48, 0.74);
            color: rgb(238, 238, 238);
            backdrop-filter: 'blur(60px)';
            justify-content: 'center';
            align-items: center;
            margin-bottom: 10px;
            font-size: small;
            width: 75px;
        }
    }
}
 */



/* @media screen and (max-height: 1300px){
    #home-body{
        background-image: url('./assets/background/colorBg3.jpg');
        background-size: cover;
        height: 2400px;
        background-repeat:no-repeat;
    }
}
@media screen and (max-height: 992px){
    #home-body{
        background-image: url('./assets/background/colorBg3.jpg');
        background-size: cover;
        height: 1400px;
        background-repeat:no-repeat;
    }
}
@media screen and (max-height: 568px){
    #home-body{
        background-image: url('./assets/background/colorBg3.jpg');
        background-size: cover;
        height: 1080px;
        background-repeat:no-repeat;
    }
}
@media screen and (max-width: 391px){
    #home-body{
        background-image: url('./assets/background/colorBg3.jpg');
        background-size: cover;
        height: 1500px;
        background-repeat:no-repeat;
    }
}
@media screen and (min-width: 812px) and (min-height: 375px){
    #home-body{
        background-image: url('./assets/background/colorBg3.jpg');
        background-size: cover;
        height: 1500px;
        background-repeat:no-repeat;
    }
} */
